// Colors
/*
    Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
    Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/
// basic
$mine-shaft: #333333;
$white: #ffffff;

$color-text: $mine-shaft;


// Fonts
$font-path: "/fonts/";

$font-family-default: "Arial", sans-serif;
$font-family-custom: "Roboto";
$font-family: $font-family-custom, $font-family-default;

$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 400;

$font-size-base: 16px;

$font-size-normal: $font-size-base;

$line-height-normal: 24px;


// Z-indexes
$z-index-html: 1;
