// Colors
/*
    Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
    Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/
// basic
$mine-shaft: #333333;
$black: #000000;
$white: #ffffff;
$raven: #767d89;
$blue-haze: #c4c8db;

$color-text: $mine-shaft;

$color-background: $white;

$color-border: rgba($blue-haze, .5);
$color-control-border: $blue-haze;


// Fonts
$font-path: "/fonts/";

$font-family-default: "Arial", sans-serif;
$font-family-custom: "Roboto";
$font-family: $font-family-custom, $font-family-default;

$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 400;

$font-size-base: 16px;

$font-size-normal: $font-size-base;

$line-height-normal: 24px;


// Z-indexes
$z-index-html: 1;


// Radius
$border-radius: 6px;


// Transitions and Animations
$transition-duration: 300ms;
$transition-duration-fast: 100ms;
$transition-function: ease-in-out;


//Box-shadows
$box-shadow: 0 0 rem(5px) rgba($black, .15);
$box-shadow-big: rem(-4px) rem(-10px) rem(30px) rgba($black, .03),
rem(4px) rem(10px) rem(30px) rgba($black, .03);


$input-height: 50px;