@font-face {
    $font-file-name: "Roboto-Regular";

    font-family: $font-family-custom;
    font-weight: 400;
    font-style: normal;

    src:
        url("#{$font-path}#{$font-file-name}.woff2") format("woff2"),
        url("#{$font-path}#{$font-file-name}.woff") format("woff");

    font-display: swap;
}

@font-face {
    $font-file-name: "Roboto-Light";

    font-family: $font-family-custom;
    font-weight: 300;
    font-style: normal;

    src:
        url("#{$font-path}#{$font-file-name}.woff2") format("woff2"),
        url("#{$font-path}#{$font-file-name}.woff") format("woff");

    font-display: swap;
}

@font-face {
    $font-file-name: "Roboto-Medium";

    font-family: $font-family-custom;
    font-weight: 500;
    font-style: normal;

    src:
        url("#{$font-path}#{$font-file-name}.woff2") format("woff2"),
        url("#{$font-path}#{$font-file-name}.woff") format("woff");

    font-display: swap;
}

@font-face {
    $font-file-name: "Roboto-Bold";

    font-family: $font-family-custom;
    font-weight: bold;
    font-style: normal;

    src:
        url("#{$font-path}#{$font-file-name}.woff2") format("woff2"),
        url("#{$font-path}#{$font-file-name}.woff") format("woff");

    font-display: swap;
}
